<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/database.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="jdbc" level="OFF" />
    <logger name="jdbc.sqlonly" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
<!--<configuration scan="true">-->

<!--    &lt;!&ndash; NOTICE: copy of sample configuration from d4j docs https://docs.discord4j.com/logging/#logback &ndash;&gt;-->
<!--    &lt;!&ndash; NOTICE: copy of sample configuration from d4j docs https://docs.discord4j.com/logging/#logback &ndash;&gt;-->
<!--    &lt;!&ndash; NOTICE: copy of sample configuration from d4j docs https://docs.discord4j.com/logging/#logback &ndash;&gt;-->
<!--    &lt;!&ndash; NOTICE: copy of sample configuration from d4j docs https://docs.discord4j.com/logging/#logback &ndash;&gt;-->
<!--    &lt;!&ndash; NOTICE: copy of sample configuration from d4j docs https://docs.discord4j.com/logging/#logback &ndash;&gt;-->

<!--    <logger name="io.netty" level="INFO"/>-->
<!--    <logger name="reactor" level="INFO"/>-->

<!--    &lt;!&ndash; for a list of loggers see: https://discord4j.readthedocs.io/en/latest/Logging/#v31-loggers &ndash;&gt;-->
<!--    <logger name="discord4j.core" level="DEBUG"/>-->

<!--    &lt;!&ndash; Display the logs in your console with the following format &ndash;&gt;-->
<!--    &lt;!&ndash; https://logback.qos.ch/manual/layouts.html#ClassicPatternLayout &ndash;&gt;-->
<!--    &lt;!&ndash; https://logback.qos.ch/manual/configuration.html &ndash;&gt;-->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Log to a file as well, including size and time based rolling &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            <fileNamePattern>logs/d4j.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            <maxFileSize>100MB</maxFileSize>-->
<!--            <maxHistory>90</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <charset>UTF-8</charset>-->
<!--            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-40.40logger{39} : %msg%n</Pattern>-->
<!--        </encoder>-->
<!--        <prudent>true</prudent>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Avoid blocking while logging to file by wrapping our file appender with async capabilities &ndash;&gt;-->
<!--    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">-->
<!--        <queueSize>512</queueSize>-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Here you can set the base logger level. If DEBUG is too chatty for you, you can use INFO &ndash;&gt;-->
<!--    &lt;!&ndash; Possible options are: ALL, TRACE, DEBUG, INFO, WARN, ERROR, OFF &ndash;&gt;-->
<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="ASYNC"/>-->
<!--    </root>-->
<!--</configuration>-->